@model IEnumerable<Module6_7_Palmer.Models.Product>
@{ ViewBag.Title = "Products";}

<a asp-action="AddProduct" asp-controller="Admin" class="ml-2">Add Product</a>
<table class="table mt-2">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Module6_7_Palmer.Models.Product product in Model)
        {
            <tr>
                <td>
                    <a asp-action="ProductDetails" asp-controller="Administration"
                       asp-route-model="@ViewBag.Action" asp-route-type="@ViewBag.Type" asp-route-val="@product.Slug">
                        @product.Name
                    </a>
                </td>
                <td>
                    <a asp-action="ProductDetails" asp-controller="Administration"
                       asp-route-model="@ViewBag.Action" asp-route-type="@ViewBag.Type" asp-route-val="@product.Slug">
                        @product.Description
                    </a>
                </td>
                <td>@product.UnitPrice.ToString("C")</td>
                <td>@product.Image
                    @*<a asp-action="ProductDetails" asp-controller="Admin"
                       asp-route-action="ViewBag.Action" asp-route-type="ViewBag.Type" asp-route-val="@product.Slug">
                        @product.Image
                    </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>