@model Module6_7_Palmer.Models.Product
@{ ViewBag.Title = $"{ViewBag.Action} Product"; }

<h2>@ViewBag.Action Product</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="EditProduct" method="post">

    <input type="hidden" asp-for="ProductID"/>

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice">Unit Price:</label>
        <input asp-for="UnitPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Image">Image:</label>
        <!--
    <input type="file" asp-for="Image" class="form-control" />
    <input type="button" asp-action="" value="Upload" /> -->
        <input asp-for="Image" class="form-control" />
    </div>
    <button type="submit" class="btn btn-dark">@ViewBag.Action</button>

    @if (ViewBag.Action == "Edit")
    {
        <a asp-action="ProductDetails" asp-controller="Administration"
           asp-route-model="@ViewBag.Action" asp-route-type="@ViewBag.Type" asp-route-val="@Model.Slug"
           class="btn btn-dark">Cancel</a>
    }
    else
    {
        <a asp-action="Index" asp-controller="Home"
           class="btn btn-dark">Cancel</a>
    }
</form>