@model Module6_7_Palmer.Models.Customer
@{ ViewBag.Title = $"{ViewBag.Action} Customer"; }

<h2>@ViewBag.Action Customer</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="EditCustomer" method="post">

    <input type="hidden" asp-for="CustomerID" />

    <div class="form-group">
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for"PhoneNumber">Phone Number:</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EmailAddress">Email:</label>
        <input asp-for="EmailAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Street">Street:</label>
        <input asp-for="Street" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="City">City:</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="State">State:</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Zipcode">Zipcode:</label>
        <input asp-for="Zipcode" class="form-control" />
    </div>
    <button type="submit" class="btn btn-dark">@ViewBag.Action</button>

    @if (ViewBag.Action == "Edit")
     {
        <a asp-action="CustomerDetails" asp-controller="Administration"
           asp-route-model="@ViewBag.Action" asp-route-type="@ViewBag.Type"
           asp-route-val="@Model.Slug" class="btn btn-dark">Cancel</a>

    }
    else
    {
        <a asp-action="Index" asp-controller="Home"
           class="btn btn-dark">Cancel</a>
    }
</form>